# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtualenv
.venv/
venv/

# Env files
.env
.env.*
!.env.example
!.env.production.example

# Logs
logs/
*.log

# Build
staticfiles/
media/

# IDE
.vscode/
.idea/
