AGENT_HOST=127.0.0.1
AGENT_PORT=9876
PRINTER_MODE=escpos
PRINTER_VENDOR=generic
PRINTER_CONN=usb
PRINTER_NET_HOST=192.168.0.50
PRINTER_NET_PORT=9100
RECEIPT_WIDTH_MM=80
SCALE_ENABLED=true
SCALE_PORT=COM3
SCALE_BAUD=9600
SCALE_TIMEOUT_MS=800
SCALE_PROTOCOL=generic